@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

:root{
    --color1 : #b5b5b5;
    --color2 : #ffffff;
    --color3 : #ffffff83;
    --color4 : rgb(141, 141, 141);
}   

*{
    padding: 0;
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
    color: var(--color2);
}
body{
    background: var(--color1);
}
.container{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.container h2{
    letter-spacing: 1rem;
    animation: up 10s infinite;
}
.avatar-card{
    margin-top: 2.5rem;
    background-color: var(--color3);
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    overflow: hidden;
    width: 20rem;
    height: 25rem;
}  
.avatar{ 
    display: flex;
}
.avatar .product{
    font-size: 20px;
    font-weight: 1000;
    letter-spacing: 2px;
}
.avatar .price{
    font-size: 10px;
    font-weight: 500;
    color: var(--color4);
}
.avatar-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.avatar-img img{
    width: 20rem;
    height: 20rem;
}
.avatar-img img:hover{
    animation: up .7s ease-in-out infinite;
    cursor: pointer;
}
#atual{
    margin-left: 0rem;
    transition: .7s;
}
.setas{
    transition: .7s;
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
}
.setas img{
    width: 3rem;
    height: 3rem;
}
#seta-direita{
    top: 50%;
    right: 25%;
}
#seta-esquerda{
    left: 25%;
    top: 50%;
}
.setas:hover{
    animation: blink .7s;
    transform: scale(1.25);
}
@keyframes blink {
    0%,100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}

@keyframes up {
    0%,100%{
        -webkit-transform: translateY(-0.7rem);
    }
    50%{
        -webkit-transform: translateY(0.7rem); 
    }
}

.animation-avatar{
    animation: bounceX .5s;
}
@keyframes bounceX {
    0%, 20%, 60%, 100%{
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    40%{
        -webkit-transform: translateX(-1rem);
        transform: translateX(-1rem);
    }
    80%{
        -webkit-transform: translateX(-0.5rem);
        transform: translateX(-0.5rem);
    }
}

.nomes{
    margin-top: .5rem;
    border: 1px solid var(--color2);
    border-radius: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    width: 15rem;
    height: 1.5rem;
    padding: 1%;
}
.avatar-nome{
    width: 15rem;
    display: flex;
    text-align: center;
    margin-left: 2rem;
}
h3{
    width: 15rem;
    display: flex;
    text-align: center;
}

#nome-atual{
    margin-left: 0;
    transition: .7s;
}

@media screen and (max-width: 730px){
    #seta-direita{
        top: 29rem;
        right: 2rem;
        font-size: 10px;
    }
    #seta-esquerda{
        top: 29rem;
        left: 2rem;
        
    }
    .setas img{
        width: 2rem;
        height: 2rem;
    }
}