*{
    padding: 0;
    margin: 0;
}
.container{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.avatar-card{
    margin-top: 2rem;
    background-color: rgba(235, 235, 235, 0.539);
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.setas{
    width: 4rem;
    height: 4rem;
    transition: 1s;
}
.setas:hover{
    transform: scale(1.05);
    animation:bounceX  0.5s ease forwards;
}
@keyframes bounceX {
    0%, 20%, 60%, 100%{
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    40%{
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    80%{
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
}

.avatar-img{
    width: 25rem;
    height: 25rem;
}