@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root{
    --color1 : #280E29;
    --color2 : #FFFFFF;
    --color3 : rgba(235, 235, 235, 0.539);
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    color: var(--color2);
}
body{
    background: var(--color1);
}
.container{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.avatar-card{
    margin-top: 2rem;
    background-color: var(--color3);
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.setas{
    width: 3rem;
    height: 3rem;
    transition: .7s;
    margin: 1rem;
}
.setas:hover{
    animation: blink .7s;
    transform: scale(1.10);
}
@keyframes blink {
    0%,100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}

.avatar-img{
    width: 25rem;
    height: 25rem;
    filter: drop-shadow(.2rem .2rem 1rem rgba(0, 0, 0, 0.715));
}
.avatar-img:hover{
    animation: up .7s ease infinite;
}
@keyframes up {
    0%,100%{
        -webkit-transform: translateY(-2px);
    }
    50%{
        -webkit-transform: translateY(2px); 
    }
}

.animation-avatar{
    animation: bounceX .7s forwards;
}
@keyframes bounceX {
    0%, 20%, 60%, 100%{
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    40%{
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    80%{
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
}
